p {
  color:red;
}

.container {
  height: 280px;
  width: 180px;
  padding: 10px;
  margin: 20px;
  background-color: red;
}

h1 {
  color: rgb(1, 37, 243);
}

#punainen {
  color:red;
}

.tummanpunainen {
  color: rgb(160, 6, 6);
}

#pinkki {
  color: rgb(5, 5, 5);
}